/**
 * Theme Name: Atol Gdańsk
 * Description: Atol Gdańsk Child theme
 * Theme URI: https://atolgdansk.pl
 * Author: os3
 * Author URI: https://os3.pl
 * Template: maisonco
 * Version: 1.0.0
 * Text Domain: atolgdansk
 * @package atolgdansk
 */

.elementor-counter-number-suffix .lowercase {
    text-transform: lowercase !important;
    /* The theme forces scoped styles of uppercasing */
}

.elementor-location-popup .gfield,
.elementor-location-popup .gfield a {
    color: #f4c17a;
}

.elementor-location-popup .gfield .gfield_description {
    padding: 0;
}

.scrollup {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}


@media only screen and (min-width: 641px) {

    .top_label div.ginput_complex.ginput_container.gf_name_has_1,
    .top_label div.ginput_complex.ginput_container.gf_name_has_2,
    .top_label div.ginput_complex.ginput_container.gf_name_has_3 {
        width: 100%;
    }

    div.ginput_complex.ginput_container.gf_name_has_2 span {
        width: 50%;
        padding-right: 0;
    }
}

body .site-footer {
    padding-top: 0 !important;
}

.elementor-1795 .elementor-element.elementor-element-669dd76e .eael-gravity-form .gfield input::placeholder,
.elementor-element .eael-gravity-form .gfield textarea::placeholder,
.elementor-1795 .elementor-element.elementor-element-669dd76e .eael-gravity-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-1795 .elementor-element.elementor-element-669dd76e .eael-gravity-form .gfield textarea {
    color: #f4c17a !important;
}

.fix-gravity-form-popup-toform#elementor-popup-modal-1795 .dialog-widget-content {
    height: auto;
}

.elementor-element .eael-gravity-form .gfield textarea {
    margin: 20px 0;
}

.fix-gravity-form-popup-toform#elementor-popup-modal-1795 .eael-gravity-form .gform_wrapper ul.gform_fields li.gfield,
.fix-gravity-form-popup-toform#elementor-popup-modal-1795 .gform_wrapper li.hidden_label input {
    margin-top: 0px;
}

.eael-contact-form input[type=date],
.eael-contact-form input[type=email],
.eael-contact-form input[type=number],
.eael-contact-form input[type=tel],
.eael-contact-form input[type=text],
.eael-contact-form input[type=url],
.eael-contact-form textarea {
    background: transparent;
}

.elementor-1795 .elementor-element.elementor-element-669dd76e .eael-gravity-form .gform_confirmation_wrapper .gform_confirmation_message {
    color: #f4c17a;
    margin: 30px;
    text-align: center;
    font-size: 160%;
}

.elementor-popup-modal .dialog-widget-content.dialog-lightbox-widget-content {
    height: auto;
}