.grecaptcha-badge {
    opacity: 0;
}

::placeholder {
    font-family: Montserrat, Helvetica Neue, helvetica, arial, sans-serif;
}

.content__formgroup--filter .select2-container--default,
.content__formgroup--filter .content__select,
button[type="submit"].content__button--submit.content__button--submit-filter {
    margin: 1rem;
    max-height: 3.55rem;
}

.content__formgroup--filter .select2-dropdown {
    border: 1px solid #f4c17a;
}

.content__wrapper--form-searchbar,
.content__formgroup--filter .content__select,
.content__formgroup--filter .select2-container--default .select2-selection--single {
    display: block;
    color: #f4c17a;
    font-size: 1.1rem;
    background: #054363;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.content__select,
.content__formgroup--filter .content__select,
.content__formgroup--filter .select2-container--default .select2-selection--single {
    border: 1px solid #f4c17a;
    border-radius: 0;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    color: #f4c17a;
}

.content__formgroup--filter .content__select {
    width: 20%;
}

/* html[lang="en-US"] .content__formgroup--filter .content__select .select2 {
    width: 15%;
} */

html[lang="en-US"] .content__formgroup--filter .content__select.content__select--filter-atolgdansk_exposition+.select2-container {
    min-width: 20em !important;
}

.content__formgroup--filter {
    display: flex;
    padding: 2rem;
    margin: 2rem;
}

.white .elementor-text-editor a {
    color: #fff
}

.white .elementor-text-editor a:hover {
    color: #f0a94c
}

.content__formgroup--filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #f4c17a;
    width: 3rem;
    transition: ease-in-out 0.2s all;
}

.content__formgroup--filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: inline-block;
    height: 1rem;
    position: relative;
    transform: rotate(135deg);
    vertical-align: middle;
    width: 1rem;
    top: 0.5rem;
    transition: ease-in-out 0.2s all;
}

.content__formgroup--filter .select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(-45deg);
    top: 0.85rem;
}

.content__formgroup--filter .select2-container--default:hover .select2-selection--single .select2-selection__arrow {
    background: #f4c17a;
}

.content__formgroup--filter .select2-container--default:hover .select2-selection--single .select2-selection__arrow b {
    border-color: #054363;
}

.content__select_option {
    background: #fff;
    color: #054363;
}

.content__select_option:hover {
    background: #f4c17a;
    color: #054363;
}

button[type="submit"].content__button--submit.content__button--submit-filter {
    background: #f4c17a;
    color: #054363;
    border: 1px solid #f4c17a;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.75rem 3rem;
}

button[type="submit"].content__button--submit.content__button--submit-filter:hover {
    background: #054363;
    color: #f4c17a;
}

button[type="submit"].content__button--submit.content__button--submit-filter:active,
button[type="submit"].content__button--submit.content__button--submit-filter:focus {
    color: #054363;
    background: #f4c17a;
}

.content__section--search-results .overflow-container {
    max-height: 60vh;
    overflow: auto;
}

.content__table--search-results {
    text-transform: uppercase;
    margin-top: 2rem;
    max-height: 80vh;
    overflow: auto;
}

.content__heading--results {
    color: #004364;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    margin: 45px 0px;
}

.dialog-type-lightbox .dialog-widget-content {
    width: 100%;
    height: 100%;
}

.mfp-content .contactform-content .form-title {
    font-family: Montserrat, Helvetica Neue, helvetica, arial, sans-serif;
    font-weight: 600;
}

.mfp-content .contactform-content {
    background: #054363;
}

.mfp-content .contactform-content,
.mfp-content .contactform-content label,
.mfp-content .contactform-content ::placeholder,
.mfp-content .contactform-content a,
.mfp-content .contactform-content input,
.mfp-content .contactform-content textarea {
    color: #f4c07a;
}

.mfp-content .contactform-content label {
    text-transform: none;
}

.content__tabs--atolgdansk.elementor-widget-opal-tabs .elementor-tab-title {
    box-sizing: border-box;
    background: #054363;
    color: #f4c07a;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.content__tabs--atolgdansk.elementor-widget-opal-tabs .elementor-tab-title:hover {
    background: #f4c07a;
    color: #054363;
}

.content__tabs--atolgdansk.elementor-widget-opal-tabs .elementor-tab-title.elementor-active {
    background: #f4c07a;
    color: #054363;
}

.content__tabs--atolgdansk.elementor-widget-opal-tabs .elementor-tabs-wrapper {
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.content__tabs--atolgdansk.elementor-widget-opal-tabs .elementor-tab-content {
    padding: 0;
    margin: 0;
}

.content__tabs--atolgdansk.elementor-widget-opal-tabs .content__formgroup--filter {
    margin: 0;
}

@media (max-width: 1024px) {
    .content__formgroup--filter {
        display: block;
    }

    .content__formgroup--filter .select2-container--default,
    .content__formgroup--filter .content__select,
    button[type="submit"].content__button--submit.content__button--submit-filter {
        min-width: 250px !important;
    }
}

@media (max-width: 450px) {
    .content__formgroup--filter {
        padding: 0;
        margin: 0;
    }
}