.content__wrapper--form-searchbar {
    display: block;
    color: #f4c17a;
    background: #054363;
}
.content__form--searchbar {

}

.content__select {
    border: 1px solid #f4c17a;
}

.content__formgroup--filter {

}

.content__select_option {
    background: #fff;
    color: #054363;
}

.content__select_option:hover {
    background: #f4c17a;
    color: #054363;
}

.content__select--filter-room {

}

.content__button--submit {
    background: #f4c17a;
    color: #054363;
}