.content__wrapper--form-searchbar {
    display: block;
    color: #f4c17a;
    background: #054363;
}
.content__form--searchbar {

}
.content__formgroup--filter {}

.content__formgroup--filter-room {

}

.content__button--submit {
    background: #f4c17a;
    color: #054363;
}