.content__wrapper--form-searchbar,
.content__formgroup--filter .select2-container--default .select2-selection--single {
    display: block;
    color: #f4c17a;
    background: #054363;
}
.content__form--searchbar {

}

.content__select,
.content__formgroup--filter .select2-container--default .select2-selection--single {
    border: 1px solid #f4c17a;
    border-radius: 0;
    padding: 0.75rem 2rem 0.75rem 4rem;
    color: #f4c17a;
}

.content__formgroup--filter {
    display: flex;
}

.content__select_option {
    background: #fff;
    color: #054363;
}

.content__select_option:hover {
    background: #f4c17a;
    color: #054363;
}

.content__select--filter-room {

}

.content__columns--20 {
    width: 20%;
}

button[type="submit"].content__button--submit.content__button--submit-filter {
    background: #f4c17a;
    color: #054363;
    border: 2px solid #f4c17a;
}

button[type="submit"].content__button--submit.content__button--submit-filter:hover {
    background: #054363;
    color: #f4c17a;
}