.content__wrapper--form-searchbar,
.content__formgroup--filter .select2-container--default .select2-selection--single {
    display: block;
    color: #f4c17a;
    background: #054363;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.content__form--searchbar {

}

.content__select,
.content__formgroup--filter .select2-container--default .select2-selection--single {
    border: 1px solid #f4c17a;
    border-radius: 0;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    color: #f4c17a;
}

.content__formgroup--filter {
    display: flex;
    padding: 4rem 2rem;
}

.content__formgroup--filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #f4c17a;
    width: 3rem;
}


.content__formgroup--filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: solid;
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 1rem;
	position: relative;
	transform: rotate(135deg);
	vertical-align: middle;
    width: 1rem;
    top: 0.5rem;
}

.content__select_option {
    background: #fff;
    color: #054363;
}

.content__select_option:hover {
    background: #f4c17a;
    color: #054363;
}

.content__select--filter-room {

}

button[type="submit"].content__button--submit.content__button--submit-filter {
    background: #f4c17a;
    color: #054363;
    border: 1px solid #f4c17a;
    font-weight: 700;
}

button[type="submit"].content__button--submit.content__button--submit-filter:hover {
    background: #054363;
    color: #f4c17a;
}